{% load static %}
<form id="form1">
    {% csrf_token %}
    <input hidden name="operator" id="operator" value=" ">
    <table class="table table-sm">
        {% for img in imglist %}
            {% if forloop.counter|divisibleby:'4' %}
                <td>
                    <img src="{% static img %}"><br>
                    <input type="text" name={{ img }}><strong style="color:red"></strong>
                </td></tr>
            {% elif forloop.counter|add:"1"|divisibleby:'4' %}
                <td>
                    <img src="{% static img %}"><br>
                    <input type="text" name={{ img }}><strong style="color:red"></strong>
                </td>
            {% elif forloop.counter|add:"2"|divisibleby:'4' %}
                <td>
                    <img src="{% static img %}"><br>
                    <input type="text" name={{ img }}><strong style="color:red"></strong>
                </td>
            {% else %}
                <tr>
                <td>
                    <img src="{% static img %}"><br>
                    <input type="text" name={{ img }}><strong style="color:red"></strong>
                </td>
            {% endif %}
        {% endfor %}
        {% if not forloop.counter|divisibleby:'4' %}
            </tr>
        {% endif %}
    </table>

</form>
<div style="text-align: center">
    <button class="btn btn-primary btn-lg" onclick="return check()">提交</button>
</div>